* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/swirl_pattern.png")
}

header {
    background-color: #eeeeee;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    width: 100%;
    color: #eeeeee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    background-color: #4aaaa5;
    position: relative;
    width: 90%;
    right: 55px;
    height: 100%;
    padding: 5px;
    text-align: center;
}

nav {
    position: absolute;
    top: 30px;
    right: 65px;
    
}

a {
    padding-left: 7px;
    padding-right: 7px;
    text-decoration: none;
    color: #777777;
}

.content {
    position: relative;
    top: 60px;
}

h2 {
    margin-left: 10px;
    padding: 10px;
}

.about, .portfolio, .econtact {
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 2px;
    position: relative;
    right: 50px;
}

.portfolio {
    height: 430px;
}

.aheader, .p_header, .cheader {
    border-bottom-color:#cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    position: relative;
    width: 90%;
    left: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    padding: 10px;
}

.float-left {
    margin-right: 10px;
    margin-left: 20px;
    border-color: #4aaaa5;
    border-style: groove;
    border-width: 2px;
}

P {
    padding:10px;
    margin-left: 10px;
    border: 10px;
}

.connect {
    background-color: #ffffff;
    padding: 5px;
    border-color:#cccccc;
    border-style: solid;
    border-width: 2px;
}

.con_head {
    font-size: 20px;
    position: relative;
    right: 0px;
    width: 90%;
    border-bottom-color:#cccccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
}

.pro {
    width: 150px;
    height: 150px;
    border-color: #4aaaa5;
    border-width: 2px;
    border-style: ridge;
    position: relative;
    left: -0px;
    margin-top: 20px;
}

.email_box {
    float: left;
    background-color: #ffffff;
    width: 650px;
    position: relative;
    left: 150px;
    top: 60px;
    height: 450px;
    border-color: #dddddd;
    border-style: solid;
    border-width: 3px;
    font-family: Times New Roman;
    font-weight: bold;
}

.econtact {
    font-size: 28px;
    color: #4aaaa5;
    position: relative;
    height: 450px;
    border-bottom-style: solid;
    border-bottom-color: #cccccc;
    border-bottom-width: 2px;
    padding-bottom: 10px;
}

.efixed {
    position: relative;
    width: 90%;
    left: 5%;
    top: 10px;
    font-size: 14px;
    color: #777777;
}

input {
    width: 100%;
}

textarea {
    position: relative;
    top: 10px;
    height: 160px;
    width: 100%;
}

#submit {
    position: relative;
    left: 5%;
    top: 40px;
    width: 15%;
    height: 40px;
    background-color: #4aaaa5;
    border: none;
    color: #eeeeee;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}

footer {
    position: fixed;
    bottom: -160px;
    text-align: center;
    background-color: #666666;
    height: 50px;
    color: #eeeeee;
    border-top-style: solid;
    border-top-width: 8px;
    border-top-color: #4aaaa5;
    padding-top: 12px;
    font-size: 11px;
}
